/* Start: Recommended DeccanIDentity styles */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.fa_social {
	 font-size: 20px;
	 }
	
	
/** Flip - Card CSS **/

.courseH4, .techH4 {
font-family: "Open sans", Helvetica, Arial;
font-size: 20px;
line-height: 1.1;
color: black;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: #c0c0c0;
  color: white;
  transform: rotateY(180deg);
} 

/** Offers page Row , Column Margin Gap**/
.row {
    margin-left: -50px;
    margin-right: -50px;
}

/** Footer background color overiding **/

#sub-footer{
	background:#675a5a
}

footer {
	background:#6f5e5e 
}


